page-accident-details {
  .toolbar-title-md {
    // text-align: center;
  }

  .item-md {
    background: black;
    border-radius: 12px;
  }

  .select-md {
    color: #fff;
  }

  .label-md {
    color: #fff !important;
  }
}
