page-report-claim {
  .item-md {
    background-color: ghostwhite;
    margin: 10px 0;
    border-radius: 23px;
  }

  .item-md:first-child {
    margin-top: 15px;
  }

  .card-md {
    margin: 10px 0;
    width: 100% !important;
  }
}
