<ion-header>
  <ion-navbar>
    <ion-title>
      Easy Insurance
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="content">

  <ion-fab bottom right *ngIf="whatHappenedView">
    <button ion-fab color="danger" (click)="sendVoice()">
      <ion-icon name="mic"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab bottom right *ngIf="!whatHappenedView">
    <button ion-fab color="danger" (click)="getWhatHappenedConfirmAndGoToClaimDetails()">
      <ion-icon name="mic"></ion-icon>
    </button>
  </ion-fab>

  <ion-list>
    <ion-item style="background: gray" *ngIf="whatHappenedView">
      <ion-label>{{selectedPolicyText}}</ion-label>
    </ion-item>
    <ion-item style="background: gray" *ngIf="!whatHappenedView">
      <ion-label>{{whatHappenedConfirmText}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list radio-group *ngIf="!whatHappenedView">

    <ion-item style="background: gray" *ngFor="let option of yesNoOptions">
      <ion-label>{{option}}</ion-label>
      <ion-radio value="{{option}}"></ion-radio>
    </ion-item>
  </ion-list>

  <!-- <button ion-button block color="default" (click)="goToUploadPicture()">Continue</button> -->

</ion-content>