<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-icon class="navbaricon" md="md-menu"></ion-icon>
      <ion-title>
        EasyPnc Insurance
      </ion-title>
    </ion-row>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-fab bottom right *ngIf="fillDate">
    <button ion-fab color="danger" [disabled]="isSpeaking" (click)="sendDate()">
      <ion-icon name="mic"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab bottom right *ngIf="isdateFilled">
    <button ion-fab color="danger" [disabled]="isSpeaking" (click)="sendDamageAmount()">
      <ion-icon name="mic"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab bottom right *ngIf="isDamageAmountFilled">
    <button ion-fab color="danger" [disabled]="isSpeaking" (click)="sendDidAnyoneSufferInjury()">
      <ion-icon name="mic"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab bottom right *ngIf="didAnyoneSufferInjuriesFilled">
    <button ion-fab color="danger" [disabled]="isSpeaking" (click)="sendNameOfInjured()">
      <ion-icon name="mic"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab bottom right *ngIf="isMedicalCostForInjured">
    <button ion-fab color="danger" [disabled]="isSpeaking" (click)="sendMedicalCostForInjured()">
      <ion-icon name="mic"></ion-icon>
    </button>
  </ion-fab>

  <ion-grid>
    <ion-row class="border-questions">
      <ion-col col-md-6>
        Date of Accident?
      </ion-col>
      <ion-col col-md-6 class="answer-details">
        {{dateofAccident}}
      </ion-col>
    </ion-row>
    <ion-row [ngClass]="{'border-questions':isdateFilledBorder}">
      <ion-col col-md-6>
        {{damageAmountText}}
      </ion-col>
      <ion-col col-md-6 class="answer-details">
        {{damageAmount}}
      </ion-col>
    </ion-row>
    <ion-row [ngClass]="{'border-questions':isDamageAmountFilledBorder}">
      <ion-col col-md-6>
        {{sufferInjuryText}}
      </ion-col>
      <ion-col col-md-6 class="answer-details">
        {{howManyInjured}}
      </ion-col>
    </ion-row>
    <ion-row [ngClass]="{'border-questions':didAnyoneSufferInjuriesFilledBorder}">
      <ion-col col-md-6>
        {{nameOfInjuredText}}
      </ion-col>
      <ion-col col-md-6 class="answer-details">
        {{nameOfInjured}}
      </ion-col>
    </ion-row>

    <ion-row [ngClass]="{'border-questions':isMedicalCostForInjuredBorder}">
      <ion-col col-md-6>
        {{medicalCostFilledText}}
      </ion-col>
      <ion-col col-md-6 class="answer-details">
        {{medicalCostFilled}}
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- <ion-grid>
    <ion-col>
      <ion-row>
        <ion-col col-md-6>
          <ion-chip color="danger">
            <ion-label>Danger</ion-label>
          </ion-chip>
        </ion-col>

        <ion-col col-md-6>
          <ion-chip color="danger">
            <ion-label>Success</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-grid> -->
  <!-- <ion-row>

    <button style="color: #f53d3d " class="home-button" ion-button full>Danger</button>

    <button class="home-button" ion-button block>Success</button>
  </ion-row> -->

  <!-- <button ion-button block color="default" (click)="submitClaim()">Submit Claim</button> -->
</ion-content>