<ion-header>
  <ion-navbar>
    <ion-title>
      Easy Insurance
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="content">

  <ion-fab bottom right>
    <button ion-fab color="danger" (click)="sendVoice()">
      <ion-icon name="mic"></ion-icon>
    </button>
  </ion-fab>


  <!-- <ion-card>
    <ion-card-header>
      Policy Details
    </ion-card-header>
    <ion-card-content>
      {{policyText}}

      <ion-list radio-group>

        <ion-item *ngFor="let option of policyOptions">
          <ion-label>{{option}}</ion-label>
          <ion-radio value="{{option}}"></ion-radio>
        </ion-item>

      </ion-list>
    </ion-card-content>


  </ion-card> -->
  <ion-item style="background: gray">
    {{policyText}}
  </ion-item>

  <ion-list radio-group>

    <ion-item style="background: gray" *ngFor=" let option of policyOptions ">
      <ion-label>{{option}}</ion-label>
      <ion-radio value="{{option}} "></ion-radio>
    </ion-item>

  </ion-list>

  <!-- <button ion-button block (click)="goToWhatHappened() ">Continue</button> -->

</ion-content>