page-claim-details {
  .item-md {
    background: #000 !important;
    margin: 10px 0 !important;
  }

  .label-md {
    color: #fff !important;
  }

  ion-datetime {
    color: #fff;
  }

  ion-select {
    color: #fff;
  }
}
